:root {
--strong-cyan: hsl(172, 67%, 45%);
--dark-cyan: hsl(183, 100%, 15%);
--grey-dark-cyan: hsl(186, 14%, 43%);
--grey-light-cyan: hsl(184, 14%, 56%);
--bg: hsl(185, 41%, 84%);
--very-light-cyan: hsl(189, 41%, 97%);


}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

* {
  margin: 0;
  padding: 0;
}

body {
  background: var(--bg);
  font-family: 'Space Mono', monospace;

}

main{
  min-height: 90vh;
  display: flex;
  justify-content: center;
}

.main-card{
  background: white;
  border-radius: 20px;
  padding: 2rem;
  width: 50%;
  height: 70%;
  align-self: center;
  display: flex;
  justify-content: space-between;
}

.info-card{
  
  border-radius: 15px;
  padding: 1.5rem;
  width: 42%;;
  height: 20rem;
}

input {
  font-family: 'Space Mono', monospace;
  background: var(--very-light-cyan);
  outline: none;
}

.input-wrapper {
  margin: 2px;
  height: 2.6rem;
  background: var(--very-light-cyan);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.3rem;
}

.input-custom input {
  width: 85%;
  height: 100%;
  border: none;
  border-radius: 0.3rem;
  align-items: center;
  text-align: right; 
  
}

.select-values {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 30px;
  margin: 10% 0;
  
}

.input-select input[type="radio"]{
  visibility: hidden;
  height: 0;
  width: 0;
}

.input-select input[type="number"] {
  border: none;
  background: blue;
  width: 90%;
  margin-left: 10px;
  
  margin: 0;

  border-radius: 5px;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}

.select-values label {
  background: var(--dark-cyan);
  padding: 10px 33%;
  border-radius: 5px;
  cursor: pointer;
  color: white;
  font-weight: 700;
} 

input[type="radio"]:checked + label{
  background-color: var(--strong-cyan);
  color: var(--dark-cyan);
}

.result-card{
  background: var(--dark-cyan);
  border-radius: 15px;
  padding: 1.5rem;
  width: 42%;
  height:20rem;
  display: flex;
  flex-direction: column;

}

.tip-amount {
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 80px;
  margin: 10px;
}

.title {
  color: white;
  margin: 0;
  
}

.title small {
  opacity: 0.5;
}

.result-value {
  color: var(--strong-cyan);
  font-size: 2.5rem;
}

.button {
  text-decoration: none;
  background: var(--strong-cyan);
  color: var(--dark-cyan);
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  border-radius: 8px;
  margin-top: 20%;
}





